CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
compile_commands.json
snake
snake.exe


*/CMakeCache.txt
*/CMakeFiles/
*/Makefile
*/cmake_install.cmake
*/compile_commands.json
*/snake
*/snake.exe

build-linux/CMakeCache.txt
build-linux/CMakeFiles/
build-linux/Makefile
build-linux/cmake_install.cmake
build-linux/compile_commands.json
build-linux/snake
build-linux/snake.exe

build-windows/CMakeCache.txt
build-windows/CMakeFiles/
build-windows/Makefile
build-windows/cmake_install.cmake
build-windows/compile_commands.json
build-windows/snake
build-windows/snake.exe

build-linux/*
build-windows/*
